flows.json
[
    {
        "id": "6211227844cef47f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f205ec4cb7280d8d",
        "type": "debug",
        "z": "6211227844cef47f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 100,
        "wires": []
    },
    {
        "id": "96bd1c86624a1d2e",
        "type": "serial out",
        "z": "6211227844cef47f",
        "name": "Arduino Uno",
        "serial": "283c64569c779220",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "15d58e5942d16a82",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Led 1",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "96bd1c86624a1d2e",
                "f205ec4cb7280d8d"
            ]
        ]
    },
    {
        "id": "164890b5ece78ea0",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Led 3",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "a1fac5493a314ce4",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Led 6",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "6 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "07d7090a80e56d9e",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Karina Full Series",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "ae1df7602d20e1bd",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Britany L to R",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "359d7a7828a51313",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Me interspersed ",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 3",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "60ad3bf4a385986b",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Aiss R to L",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 4",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "11950e9b99902fcf",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Lilian flicker",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 5",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "3646939c1631a674",
        "type": "debug",
        "z": "6211227844cef47f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 680,
        "wires": []
    },
    {
        "id": "87a1a22284b7cfd0",
        "type": "serial out",
        "z": "6211227844cef47f",
        "name": "Arduino Uno",
        "serial": "283c64569c779220",
        "x": 390,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d11a518b4c237a13",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Led 1",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "3646939c1631a674"
            ]
        ]
    },
    {
        "id": "0f53ad04cdca5c15",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Led 6",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "10 0",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 740,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "d1706c21f09b5568",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Serie Full",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "66aa895add98d122",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Izq a Der",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "65d5d09a76ab419b",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Intercalado",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 3",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "12749a1f649d8392",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Der a Izq",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 4",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "c2de401d278d49d7",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Parpadeo",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "8 5",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "2436a16f705c6f45",
        "type": "mqtt out",
        "z": "6211227844cef47f",
        "name": "macs/Vic",
        "topic": "macs/Vic",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "216b86df2aa39764",
        "x": 380,
        "y": 900,
        "wires": []
    },
    {
        "id": "f7a46738279d7e0f",
        "type": "mqtt in",
        "z": "6211227844cef47f",
        "name": "macs/Barry",
        "topic": "macs/Barry",
        "qos": "1",
        "datatype": "auto",
        "broker": "216b86df2aa39764",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "87a1a22284b7cfd0"
            ]
        ]
    },
    {
        "id": "b9e1895c218eab20",
        "type": "debug",
        "z": "6211227844cef47f",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1360,
        "wires": []
    },
    {
        "id": "8eb664efbcb1fa87",
        "type": "inject",
        "z": "6211227844cef47f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hola soy Sion Lingard",
        "payloadType": "str",
        "x": 440,
        "y": 1280,
        "wires": [
            [
                "6530f7b907ea9974"
            ]
        ]
    },
    {
        "id": "464614620b254f7d",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Encender todos",
        "tooltip": "",
        "group": "df4ac0ac538cfcbf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "7 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "96bd1c86624a1d2e"
            ]
        ]
    },
    {
        "id": "0740bb64e871cf1b",
        "type": "ui_switch",
        "z": "6211227844cef47f",
        "name": "",
        "label": "Todos",
        "tooltip": "",
        "group": "eb37d8729b704a29",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "7 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "7 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "2436a16f705c6f45"
            ]
        ]
    },
    {
        "id": "6530f7b907ea9974",
        "type": "mqtt out",
        "z": "6211227844cef47f",
        "name": "macs/Vic",
        "topic": "macs/Vic",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "216b86df2aa39764",
        "x": 700,
        "y": 1280,
        "wires": []
    },
    {
        "id": "366cf17a2e761f0d",
        "type": "mqtt in",
        "z": "6211227844cef47f",
        "name": "macs/Barry",
        "topic": "macs/Barry",
        "qos": "1",
        "datatype": "auto",
        "broker": "216b86df2aa39764",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 1360,
        "wires": [
            [
                "b9e1895c218eab20"
            ]
        ]
    },
    {
        "id": "95c4238dd5911d83",
        "type": "ui_spacer",
        "z": "6211227844cef47f",
        "name": "spacer",
        "group": "eb37d8729b704a29",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "283c64569c779220",
        "type": "serial-port",
        "serialport": "/dev/tty.usbserial-110",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "df4ac0ac538cfcbf",
        "type": "ui_group",
        "name": "Salidas digitales",
        "tab": "924762d5fdfb5d01",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb37d8729b704a29",
        "type": "ui_group",
        "name": "Victor",
        "tab": "c282dc8a7f7d5e63",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "216b86df2aa39764",
        "type": "mqtt-broker",
        "name": "Abuelo-mqtt",
        "broker": "178.6.10.233",
        "port": "1883",
        "clientid": "Barry_NR",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "924762d5fdfb5d01",
        "type": "ui_tab",
        "name": "2023-Ago-Dic-Telecomunicaciones",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c282dc8a7f7d5e63",
        "type": "ui_tab",
        "name": "Victor Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]